.profile-container{
    background-color: var(--background-color);
}
.Admin-header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(1 1 1 / 20%);
    padding: 15px;
    margin-bottom: 25px;
    /* border-radius: 25px; */
}

.header-list{
    justify-content: center;
}