.AboutUs-main{
    /* margin-bottom: 35px; */
    /* border-top: 1px solid blue; */
}

.AboutUs-title{
    text-align: center;
    justify-items: center;
    color: var(--color-primary);
    font-size: 35px !important;
    font-weight: 400;
    margin:30px;
}

.AboutUs-text{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0px;
}

.AboutUs-text span{
    color: rgb(78, 78, 254);
}