.course-detail-main{
    background-color: var(--background-color);
}
.banner{
    background-color:  rgb(0, 0, 26);
    width: 100%;
    padding: 3em 0;
  }
.row{
    align-items:center;
}

.course-title{
    color: rgb(52, 123, 255);
    font-size: 36px;
} 

.course-text{
    font-size: 20px;
    color: #fff;
}

.btn-Download{
    font-size: 15px;
    padding: .5em 1.5em;
    border-radius: 2em;
    margin: 1em;

}

.image{
    max-width: 100%s
}  

.course-goal,
.course-content {
  margin: 20px 0;
  margin-left: 50px;
}

ul {
  list-style: disc;
  margin-left: 30px;
  font-size: 20px;
}

h2 {
  font-size: 30px;
  color: #333;
}

@media screen and (max-width: 567px) {
    .banner {
      text-align: center;
    }
  }